In [3]:
from stonks import get_stock_history
import pandas as pd

In [4]:
df = get_stock_history("AAPL", "05/2023", interval="1min")
df.head()

https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY_EXTENDED&symbol=AAPL&interval=1min&slice=year1month1&apikey=GP58Y1THOEI0LXPV

                       open    high     low    close   volume
time
2023-06-02 16:00:00  180.95  180.95  180.89  180.950   853915
2023-06-02 15:59:00  181.00  181.03  180.82  180.950  1372070
2023-06-02 15:58:00  181.02  181.02  180.92  181.010   486541
2023-06-02 15:57:00  181.00  181.02  180.95  181.000   309535
2023-06-02 15:56:00  181.01  181.03  180.98  180.995   219776