In [18]:
from stonks import get_stock_history
import pandas as pd

In [19]:
data = get_stock_history("AAPL", "05/2023", interval="60min")
data.head()

                  time     open    high     low   close    volume
0  2023-06-02 19:00:00  181.010  181.11  180.96  181.11     24390
1  2023-06-02 18:00:00  180.980  181.06  180.95  181.06     21791
2  2023-06-02 17:00:00  181.060  181.11  180.94  180.98     52198
3  2023-06-02 16:00:00  180.950  181.09  180.83  181.06   4357950
4  2023-06-02 15:00:00  180.625  181.10  180.59  180.95  10213901